body {
    background: #d1cfcf;
}
.jumbotron {
    background: url("../images/grey_variations.png");
    margin: 0 0 30px 0;
}
h1.display-4 {
    color: #eeeeee;
    font-size: 60px;
}
.col-md-11 {
    text-align: left;
}
#search-container, #results-container {
    background: #eeeeee;
    width: 90%;
}
#row-title {
    text-align: left;
    background: #474d57;
    color: #eeeeee;
    padding-top: 5px;
}
#form-container {
    padding: 5px;
    margin: 10px;
}
p {
    font: bold 16px/1.5em sans-serif;
}
p.lead {
    color: #d38c52;
    font-size: 24px;
}
#train-title {
    color: #181a75;
    font-size: 18px;
}
.btn-lg {
    margin: 10px;
    width: 140px;
}
